<!-- import jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
// put your keys in the header
var headers = {
	"Content-type"     : "application/json",
	"app_id"          : "5a83cff4",
	"app_key"         : "ebd16358ae2b9a7e31b806fa6163bd0a"
};
var payload  = { "image" : "https://media.kairos.com/liz.jpg" };
var detectURL = "https://api.kairos.com/detect";
// make request 
$.ajax(detectURL, {
	headers  : headers,
    type: "POST",
    data: JSON.stringify(payload),
    dataType: "text"
}).done(function(response){
	console.log(response);
	document.getElementById('response').innerText = response;
});

// var analyzePayload  = { "source" : "https://media.kairos.com/liz.jpg" };
var analyzeURL = "https://api.kairos.com/v2/media?source=https://media.kairos.com/liz.jpg";

$.ajax(analyzeURL, {
	headers  : headers,
    type: "POST",
    // data: JSON.stringify(analyzePayload),
    // dataType: "text"
}).done(function(response){
	console.log(JSON.stringify(response));
	document.getElementById('emotion').innerText = JSON.stringify(response);
});
</script>

<img src="https://media.kairos.com/liz.jpg" alt="">

<h4>Detect</h4>
<div id="response" style="width: 50%; overflow-wrap: break-word; line-height: 2;"></div>
<h4>Analyze</h4>
<div id="emotion" style="width: 50%; overflow-wrap: break-word; line-height: 2;"></div>